* {
  color: black;
}
.productPage {
  display: flex;
  padding: 50px;
}
.productPage__wrapper {
  display: flex;
  padding: 30px;
  background-color: white;
}
figure {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
}
.productPage__description {
  width: 50%;
}
.buy {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #e20c64;
  font-size: larger;
  font-weight: bold;
  width: fit-content;
  align-items: flex-start;
  padding: 10px 20px 0 20px;
}
