/* hover des icones des réseaux sociaux et boutons */
#footer {
  background-color: #838181;
}
section {
  padding: 0;
}

.icone__RS {
  justify-content: center;
  padding: 20px;
}
.footer__newsletter__wrapper {
  width: 100%;
  margin-left: 25%;
}
.footer__newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.form-outline.form-white .form-control ~ .form-notch div {
  border-color: black;
}
.form-outline.form-white .form-control ~ .form-label {
  color: black;
}
.newsletter__text__p {
  width: max-content;
  margin-top: 8px;
}
a.btn-hover:hover {
  background-color: #e30964;
  border-color: #e30964;
}
button.btn-hover:hover {
  background-color: #e30964;
  border-color: #e30964;
}
.form-control {
  color: black;
  border: black;
}
[class*="btn-outline-"] {
  border-width: 1.4px;
}
/* hover des liens du footer */
ul a {
  text-decoration: none;
  position: relative;
}
.a_after_hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin-bottom: -2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s;
}
.a_after_hover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}
