#btn__openModalConnexion {
  font-family: "oswald";
  font-size: 15px;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 2px 15px;
  border-color: white;
}

#btn__openModalConnexion:hover {
  background-color: #e30964;
  border-color: #e30964;
  color: white;
}
#modalTitle {
  font-family: "oswald";
  color: black;
  font-weight: 700;
  font-size: 30px;
  margin: auto;
}
#button__seconnecter {
  background-color: #e30964;
  border: #e30964;
  font-family: "oswald";
}
#button__sinscrire {
  font-family: "oswald";
}
.link__nouveauMDP {
  cursor: pointer;
  color: black;
}
